@page "/ui-pages-home.html"

@using OdisTemplateCustom.Components.Layout

@layout MainLayout

@attribute [StreamRendering]
@rendermode InteractiveServer

<div class="pagehead-bg primary-bg">
</div>

<div class="carousel carousel-fullscreen carousel-slider home_carousel ">

    <a class="carousel-item" href="#carousel-slide-0!">
        <div class="bg" style="background-image: url('assets/images/slider-1.jpg')"></div>
        <div class="item-content center-align white-text">
            <div class="spacer-large"></div>
            <h3>Odis is an Elegant & Stylish PWA Mobile App</h3>
        </div>
    </a>
    <a class="carousel-item" href="#carousel-slide-1!">
        <div class="bg" style="background-image: url('assets/images/slider-3.jpg')"></div>
        <div class="item-content center-align white-text">
            <div class="spacer-large"></div>
            <h3>A premium multi purpose PWA Mobile UI App</h3>
        </div>
    </a>
    <a class="carousel-item" href="#carousel-slide-2!">
        <div class="bg" style="background-image: url('assets/images/slider-2.jpg')"></div>
        <div class="item-content center-align white-text">
            <div class="spacer-large"></div>
            <h3>Odis is fast, secure and user friendly UI App</h3>
        </div>
    </a>
    <a class="carousel-item" href="#carousel-slide-3!">
        <div class="bg" style="background-image: url('assets/images/slider-4.jpg')"></div>
        <div class="item-content center-align white-text">
            <div class="spacer-large"></div>
            <h3>A modern looking responsive PWA Mobile App</h3>
        </div>
    </a>

</div>

<div class="theme-bg">
    <div class="container home-iconbox">
        <div class="section pb0">



            <div class="spacer"></div>
            <div class="row mb0">
                <div class="col s12 pad-0">

                    <!--   Icon Section   -->
                    <div class="row">
                        <div class="col s6 m6 l3">
                            <div class="icon-block block">
                                <div class="icon-area center primary-text"><i class="mdi mdi-barley"></i></div>
                                <h6 class="title-area center">Unique Design</h6>
                                <p class="text-area center">It is designed to be super fast and light in weight. It speeds your development and helps smooth user interation.</p>
                            </div>
                        </div>

                        <div class="col s6 m6 l3">
                            <div class="icon-block block">
                                <div class="icon-area center primary-text"><i class="mdi mdi-code-braces"></i></div>
                                <h6 class="title-area center">Modern PWA App</h6>
                                <p class="text-area center">By utilizing elements and principles of Material Design, It is designed with unique set of features.</p>
                            </div>
                        </div>

                        <div class="col s6 m6 l3">
                            <div class="icon-block block">
                                <div class="icon-area center primary-text"><i class="mdi mdi-candycane"></i></div>
                                <h6 class="title-area center">Premium Quality</h6>
                                <p class="text-area center">It follows black box level coding standard. All the code is well formatted, commented and ready to use.</p>
                            </div>
                        </div>

                        <div class="col s6 m6 l3">
                            <div class="icon-block block">
                                <div class="icon-area center primary-text"><i class="mdi mdi-chili-medium"></i></div>
                                <h6 class="title-area center">Multi Purpose</h6>
                                <p class="text-area center">It can be customized and used for any niche. The vast possibilities of this template makes it multi purpose.</p>
                            </div>
                        </div>

                    </div>


                </div>
            </div>

        </div>
    </div>
</div>

<div class="row primary-bg ">
    <div class="spacer"></div>
    <div class="spacer"></div>
    <h5 class="center bot-0 sec-tit white-text pad-15">PWA Multi Purpose App</h5>
    <p class="center-align white-text pad-30">Odis is a multi purpose PWA Mobile UI APP with tons of features and functionalities. Try it now.</p>
    <div class="center">


        <a class="btn-large waves-effect theme-bg-btn" target="_blank" href="https://themeforest.net/user/themepassion/portfolio">Buy Now</a>


    </div>
    <div class="spacer"></div>
    <div class="spacer"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row mb0">
            <div class="col s12 pad-0">
                <h5 class="bot-20 sec-tit center ">Inbuilt Apps</h5>


                <div class="row settings-row ">
                    <div class="col s12 ">
                        <div class="setting-box  center  img-box ">
                            <a class="img-wrap round" href="sub-apps-socialmedia.html">
                                <img alt="image" class="responsive-img " src="assets/images/socialmedia-app.jpg">
                            </a>
                            <a href="sub-apps-socialmedia.html">
                                <h6>Social Media App</h6>
                                <div class="tagline">Some tagline of this app.</div>
                            </a>
                        </div>
                    </div>
                    <div class="col s12 ">
                        <div class="setting-box  center  img-box ">
                            <a class="img-wrap round" href="sub-apps-ecommerce.html">
                                <img alt="image" class="responsive-img " src="assets/images/ecommerce-app.jpg">
                            </a>
                            <a href="sub-apps-ecommerce.html">
                                <h6>Ecommerce App</h6>
                                <div class="tagline">Some tagline of this app.</div>
                            </a>
                        </div>
                    </div>
                    <div class="col s12 ">
                        <div class="setting-box  center  img-box ">
                            <a class="img-wrap round" href="sub-apps-blog.html">
                                <img alt="image" class="responsive-img " src="assets/images/blogs-app.jpg">
                            </a>
                            <a href="sub-apps-blog.html">
                                <h6>Blogs App</h6>
                                <div class="tagline">Some tagline of this app.</div>
                            </a>
                        </div>
                    </div>
                    <div class="col s12 ">
                        <div class="setting-box  center  img-box ">
                            <a class="img-wrap round" href="sub-apps-news.html">
                                <img alt="image" class="responsive-img " src="assets/images/news-app.jpg">
                            </a>
                            <a href="sub-apps-news.html">
                                <h6>News App</h6>
                                <div class="tagline">Some tagline of this app.</div>
                            </a>
                        </div>
                    </div>
                    <div class="col s12 ">
                        <div class="setting-box  center  img-box ">
                            <a class="img-wrap round" href="sub-apps-events.html">
                                <img alt="image" class="responsive-img " src="assets/images/events-app.jpg">
                            </a>
                            <a href="sub-apps-events.html">
                                <h6>Events App</h6>
                                <div class="tagline">Some tagline of this app.</div>
                            </a>
                        </div>
                    </div>
                    <div class="col s12 ">
                        <div class="setting-box  center  img-box ">
                            <a class="img-wrap round" href="sub-apps-courses.html">
                                <img alt="image" class="responsive-img " src="assets/images/courses-app.jpg">
                            </a>
                            <a href="sub-apps-courses.html">
                                <h6>Online Course App</h6>
                                <div class="tagline">Some tagline of this app.</div>
                            </a>
                        </div>
                    </div>
                    <div class="col s12 ">
                        <div class="setting-box  center  img-box ">
                            <a class="img-wrap round" href="sub-apps-portfolio.html">
                                <img alt="image" class="responsive-img " src="assets/images/portfolio-app.jpg">
                            </a>
                            <a href="sub-apps-portfolio.html">
                                <h6>Portfolio App</h6>
                                <div class="tagline">Some tagline of this app.</div>
                            </a>
                        </div>
                    </div>
                    <div class="col s12 ">
                        <div class="setting-box  center  img-box ">
                            <a class="img-wrap round" href="sub-apps-chat.html">
                                <img alt="image" class="responsive-img " src="assets/images/chat-app.jpg">
                            </a>
                            <a href="sub-apps-chat.html">
                                <h6>Chat & Messages App</h6>
                                <div class="tagline">Some tagline of this app.</div>
                            </a>
                        </div>
                    </div>
                    <div class="col s12 ">
                        <div class="setting-box  center  img-box ">
                            <a class="img-wrap round" href="sub-apps-wallet.html">
                                <img alt="image" class="responsive-img " src="assets/images/wallet-app.jpg">
                            </a>
                            <a href="sub-apps-wallet.html">
                                <h6>Payment & Wallet App</h6>
                                <div class="tagline">Some tagline of this app.</div>
                            </a>
                        </div>
                    </div>
                    <div class="col s12 ">
                        <div class="setting-box  center  img-box ">
                            <a class="img-wrap round" href="sub-apps-university.html">
                                <img alt="image" class="responsive-img " src="assets/images/university-app.jpg">
                            </a>
                            <a href="sub-apps-university.html">
                                <h6>University App</h6>
                                <div class="tagline">Some tagline of this app.</div>
                            </a>
                        </div>
                    </div>
                    <div class="col s12 ">
                        <div class="setting-box  center  img-box ">
                            <a class="img-wrap round" href="sub-apps-contacts.html">
                                <img alt="image" class="responsive-img " src="assets/images/contacts-app.jpg">
                            </a>
                            <a href="sub-apps-contacts.html">
                                <h6>Contacts App</h6>
                                <div class="tagline">Some tagline of this app.</div>
                            </a>
                        </div>
                    </div>
                    <div class="col s12 ">
                        <div class="setting-box  center  img-box ">
                            <a class="img-wrap round" href="sub-apps-mailbox.html">
                                <img alt="image" class="responsive-img " src="assets/images/mailbox-app.jpg">
                            </a>
                            <a href="sub-apps-mailbox.html">
                                <h6>Mailbox App</h6>
                                <div class="tagline">Some tagline of this app.</div>
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>

<div class="row primary-bg ">
    <div class="spacer"></div>
    <div class="spacer"></div>
    <h5 class="center bot-0 sec-tit white-text pad-15">Premium Mobile App</h5>
    <p class="center-align white-text pad-30">Odis is a multi purpose PWA Mobile UI APP with tons of features and functionalities. Try it now.</p>
    <div class="center">


        <a class="btn-large waves-effect theme-bg-btn" target="_blank" href="https://themeforest.net/user/themepassion/portfolio">Buy Now</a>


    </div>
    <div class="spacer"></div>
    <div class="spacer"></div>
</div>

<div class="theme-bg">
    <div class="container">
        <div class="section pb0">


            <div class="row ">
                <div class="col s12 pad-0">




                    <div class="row ui-mediabox portfolio  ">


                        <div class="col s6 ">
                            <a class="img-wrap round" href="assets/images/portfolio-6.jpg" data-fancybox="images"
                               data-caption="Charming looking and young designs">
                                <img alt="image" class="" style="width: 100%;" src="assets/images/portfolio-6.jpg">
                            </a>
                        </div>


                        <div class="col s6 ">
                            <a class="img-wrap round" href="assets/images/portfolio-5.jpg" data-fancybox="images"
                               data-caption="Create unreal combinations at your work">
                                <img alt="image" class="" style="width: 100%;" src="assets/images/portfolio-5.jpg">
                            </a>
                        </div>


                        <div class="col s6 ">
                            <a class="img-wrap round" href="assets/images/portfolio-3.jpg" data-fancybox="images"
                               data-caption="You make your own looks stylish">
                                <img alt="image" class="" style="width: 100%;" src="assets/images/portfolio-3.jpg">
                            </a>
                        </div>


                        <div class="col s6 ">
                            <a class="img-wrap round" href="assets/images/portfolio-9.jpg" data-fancybox="images"
                               data-caption="Being fabulous is the current need">
                                <img alt="image" class="" style="width: 100%;" src="assets/images/portfolio-9.jpg">
                            </a>
                        </div>


                        <div class="col s6 ">
                            <a class="img-wrap round" href="assets/images/portfolio-4.jpg" data-fancybox="images"
                               data-caption="Fancy looking with this new style">
                                <img alt="image" class="" style="width: 100%;" src="assets/images/portfolio-4.jpg">
                            </a>
                        </div>


                        <div class="col s6 ">
                            <a class="img-wrap round" href="assets/images/portfolio-2.jpg" data-fancybox="images"
                               data-caption="Your daily style and trendy needs">
                                <img alt="image" class="" style="width: 100%;" src="assets/images/portfolio-2.jpg">
                            </a>
                        </div>


                        <div class="col s6 ">
                            <a class="img-wrap round" href="assets/images/portfolio-8.jpg" data-fancybox="images"
                               data-caption="Making the best of your fashion">
                                <img alt="image" class="" style="width: 100%;" src="assets/images/portfolio-8.jpg">
                            </a>
                        </div>


                        <div class="col s6 ">
                            <a class="img-wrap round" href="assets/images/portfolio-7.jpg" data-fancybox="images"
                               data-caption="Creating wonderful looking style">
                                <img alt="image" class="" style="width: 100%;" src="assets/images/portfolio-7.jpg">
                            </a>
                        </div>



                    </div>
                </div>
            </div>

        </div>
    </div>
</div>