<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="Ejemplo.Web.styles.css" />
    <link rel="icon" type="image/png" href="assets/images/LogoGDA.png" />

    <!-- template plugins -->

    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/plugins/morrisjs/morris.css" />
    <link rel="stylesheet" href="assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.css" />
    <link rel="stylesheet" href="assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" />
    <link rel="stylesheet" href="assets/plugins/multi-select/css/multi-select.css">
    <link rel="stylesheet" href="assets/plugins/jquery-spinner/css/bootstrap-spinner.css">
    <link rel="stylesheet" href="assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="assets/plugins/bootstrap-select/css/bootstrap-select.css" />
    <link rel="stylesheet" href="assets/plugins/nouislider/nouislider.min.css" />

    <!-- chartjs, jqueryknow -->

    <link rel="stylesheet" href="assets/css/main.css">

    <!-- chartjs, jqueryknow -->

    <link rel="stylesheet" href="assets/css/color_skins.css">

    <!-- adicional-->

    <link rel="stylesheet" href="css/additionals/sidebar-override.css?v=@version" />
    <link rel="stylesheet" href="css/additionals/body-menu.css?v=@version">
    <link rel="stylesheet" href="css/additionals/ng-placeholder.css?v=@version">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <!-- carousel juan -->

    <link rel="stylesheet" href="css/components/carouselng/carouselng.css?v=@version" />
    <link rel="stylesheet" href="css/components/carouselng/carouselng.ui.css?v=@version" />

    <!-- sidebar juan -->

    <link rel="stylesheet" href="css/components/sidebarng/sidebarng.css?v=@version" />
    <link rel="stylesheet" href="css/components/sidebarng/sidebarng.ui.css?v=@version" />

    <!-- quill, no template -->

    <link rel="stylesheet" href="css/components/quill/quill.snow.css?v=@version" />

    <!-- components-commons -->

    <link rel="stylesheet" href="css/commons/blazor-reconnect.css?v=@version" />

    <HeadOutlet />

</head>

<body class="theme-black">

    <Routes />

    <!--junto con el blazor-reconnect.css inhibe el mensaje de reconexión-->
    <div id="components-reconnect-modal">
    </div>

    <!-- chartjs, jqueryknow -->
    <script src="assets/bundles/libscripts.bundle.js"></script>

    <!-- plugins-->
    <div>
        <script src="assets/js/html2pdf.bundle.min.js"></script>
        <script src="assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
        <script src="assets/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>
        <script src="assets/plugins/multi-select/js/jquery.multi-select.js"></script>
        <script src="assets/plugins/jquery-spinner/js/jquery.spinner.js"></script>
        <script src="assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
        <script src="assets/plugins/nouislider/nouislider.js"></script>



        <!-- chartjs, -->
        <script src="assets/plugins/chartjs/Chart.bundle.js"></script>
        <script src="assets/plugins/chartjs/polar_area_chart.js"></script>

        <!-- jqueryknow -->
        <script src="assets/plugins/jquery-knob/jquery.knob.min.js"></script>

        <script src="assets/plugins/momentjs/moment.js"></script>
        <script src="assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    </div>

    @*  bundle *@
    <div>
        @* chartjs, jqueryknow *@
        <script src="assets/bundles/vendorscripts.bundle.js"></script>

        @*  jqueryknob,  *@
        @*   <script src="assets/bundles/knob.bundle.js"></script> *@

        <script src="assets/bundles/jvectormap.bundle.js"></script>
        <script src="assets/bundles/morrisscripts.bundle.js"></script>
        <script src="assets/bundles/sparkline.bundle.js"></script>
        <script src="assets/bundles/doughnut.bundle.js"></script>

        @* chartjs, jqueryknob,  *@
        <script src="assets/bundles/mainscripts.bundle.js"></script>
    </div>

    @* pages, ejemplos de uso *@
    <div>
        <script src="assets/js/pages/index.js"></script>
        <script src="assets/js/pages/forms/basic-form-elements.js"></script>
    </div>
    @* componentes, componentes externos *@
    <div>
        @* quill *@
        <script src="js/components/quill/quill.min.js"></script>

        @* googlempas *@
        <script src="js/components/GoogleMaps/googlemaps.min.js?v=5"></script>
    </div>

    <script>
        window.removeEmptyClassFromBody = function () {
            if (document.body && document.body.getAttribute("class") === "") {
                document.body.removeAttribute("class");
            }
        };
    </script>

    <script src="_framework/blazor.web.js"></script>
    <script src="js/utils/patente.js"></script>

</body>

</html>

@code {
    private string version = AppVersion.Version;
}
