@page "/LoginError"

@layout MainLayoutGeneral

@using Ejemplo.Web.Components.Layout

<div class="authentication" style="background-image:url('assets/images/bg-login.jpg')">
    <div class="container">
        <div class="col-md-12 content-center">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="company_detail">
                        <h4 class="logo"><img src="assets/images/logotipo.png" alt=""> Portal Ciudadano</h4>
                        <h3>MI ZARATE</h3>
                        <p>Portal ciuddano donde podrás acceder a todos los servicios digitales de la municipalidad</p>
                        <div class="footer">

                            <hr>

                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 offset-lg-1">
                    <div class="card-plain">
                        <div class="header">
                            <i class="fa-solid fa-circle-xmark" style="color: red;
    font-size: 35px;"></i> <h5>Log in Error</h5>
                        </div>

                        <span> Credenciales invalidas, introduzca un usuario y contraseña validos.</span>

                        <div>
                            <a href="login" class="link">Volver</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>