
.ngplaceholder {
    background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    border-radius: 4px;
}

@keyframes loading {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

.ngplaceholder-text {
    height: 38px;
    margin-bottom: 1rem;
}

.ngplaceholder-img {
    height: 15rem;
    margin-bottom: 1rem;
}

.ngplaceholder-label {
    width: 40%;
    height: 16px;
    margin-bottom: 8px;
    border-radius: 2px;
}

.ngblendbackground {
    mix-blend-mode: color-burn !important;
}

.ngplaceholder-banner {
    height: 200px; /* o lo que necesites */
    width: 100%; /* ancho completo o ajustable según tu diseño */
    margin-bottom: 1rem;
    border-radius: 8px;
    background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
}

.ngplaceholder-select {
    width: 100%;
    height: 38px;
    border-radius: 6px;
}

.ngplaceholder-checkbox {
    width: 18px;
    height: 18px;
    border-radius: 4px;
}