.div-muted {
    color: #6c757d; /* Texto tipo "muted", como en Bootstrap */
    white-space: nowrap; /* No hace saltos de línea */
    overflow: hidden; /* Oculta el texto que se desborda */
    text-overflow: ellipsis; /* Agrega los "..." al final */
}

/* ================================================
   MOBILE RESPONSIVE (700px y menos)
   ================================================ */
@media (max-width: 700px) {
    
    .header-ticket-numero {
        font-size: 1.2rem;
        margin-top: 0px;
    }
    .index-titulo{
        height:2rem;
    }
    .itemMenu-btn{
        width:100%;
        text-align:center;
    }
}

/* ================================================
   DESKTOP (701px y más)
   ================================================ */
@media (min-width: 700px) {
    .header-ticket-numero {
        font-size: 2rem;
        margin-top: 50px;
    }
    .index-titulo {
    }
}