@using Microsoft.AspNetCore.Authorization

@inherits LayoutComponentBase
@attribute [Authorize]

<input type="radio" id="sidebar-toggle" name="sidebar-state" class="sidebar-toggle" />
<input type="radio" id="sidebar-close" name="sidebar-state" class="sidebar-close" checked />

<label for="sidebar-toggle" class="mobile-toggle-btn">☰</label>
<label for="sidebar-close" class="mobile-close-btn">×</label>

<div class="main-container">
    

    <section class="content home" style="margin: 0px !important">
        <div class="container">
            @Body
        </div>
    </section>

</div>

